<nav class="crumbs" role="navigation" aria-label="breadcrumbs">
  <ul>
    {{#with page.component}}
    {{#if (and ./title (not (or ./root (eq @root.page.breadcrumbs.0.content ./title))))}}
    <li class="crumb"><a href="{{{relativize @root.page.url ./url}}}">{{{./title}}}</a></li>
    {{/if}}
    {{/with}}
    {{#each page.breadcrumbs}}
    <li class="crumb">
    {{~#if (and ./url (eq ./urlType 'internal'))~}}
    <a href="{{{relativize @root.page.url ./url}}}">{{{./content}}}</a>
    {{~else~}}
    {{{./content}}}
    {{~/if~}}
    </li>
    {{/each}}
  </ul>
</nav>
